.root {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  flex: none;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  color: var(--mantine-color-brand-6);
}

.root:hover {
  text-decoration: underline;
}
